.technologies {
  padding: 50px 0px 60px;
}

.technologies__container {
  margin: 0px 350px;
  color: white;
  text-align: center;
}

.technologies__span {
  font-family: 'SF-pro-display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0fb;
  margin-right: 7px;
}

.icon {
  width: 50px;
  height: 50px;
}

.technologies__block {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 150px;
  height: 150px;
  box-shadow: 0px 2px 12px 5px #00ffbb82;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: lightcyan;
  cursor: pointer;
}
.technologies__block:hover {
  width: 155px;
  height: 155px;
  transition: width 0.6s, height 0.6s;
}
.technologies__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  padding-top: 30px;
}

@media screen and (max-width: 1440px) {
  .technologies__container {
    margin: 40px 80px;
  }
}

@media screen and (max-width: 1024px) {
  .technologies__block {
    width: 135px;
    height: 135px;
  }

  .technologies__wrapper {
    gap: 50px;
  }
}
@media screen and (max-width: 878px) {
  .technologies__container {
    margin: 40px 40px;
  }

  .technologies__block {
    width: 100px;
    height: 100px;
  }

  .technologies__wrapper {
    gap: 30px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .technologies__span {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .technologies__container {
    margin: 0px 20px;
    flex-direction: column;
  }
  .technologies__wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  .technologies__block {
    width: 200px;
    height: 200px;
  }
  .technologies__wrapper {
    gap: 30px;
    padding: 40px 0px 0px;
  }

  .icon {
    width: 80px;
    height: 80px;
  }

  .technologies__span {
    font-size: 22px;
  }
}
