.portfolio {
  background-color: #262626;
  padding:30px 0px ;
}

.portfolio__container {
  margin: 80px 300px;
}

.portfolio__wrapper {
  text-align: center;
}

.portfolio__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
}

.portfolio__card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
  background-color: #2626261e;
  opacity: 0.6;
}
.portfolio__card:hover {
  /* background-color: #2626261e; */
opacity: 1;
/* animation-duration: 0.2s; */
/* animation-delay: 5s; */
transition: width 0.6s, height 0.6s;
width: 310px;
height: 460px;
}

.portfolio__span {
  font-family: 'SF-pro-display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0fb;
  margin-right: 7px;
}

.portfolio__title {
  font-family: 'SF-pro-display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin-top: 16px;
}
