.footer {
  background-color: #212121;
}

.footer__container{
    min-height: 170px;

    display: flex;
    margin: 0px 350px;
    justify-content: space-between;
    align-items: center;
}
.footer__logo{
width: 68px;
}

.footer__copyright{
    font-family: 'SF-pro-display', sans-serif;    
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.footer__icon{
    width: 22px;
    padding-left: 10px;
}